<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <p class ="navbar-brand">The Four Nations</p>
      <p class="subtitle">Search For Members by their Nation</p>
    </div>
    <div class="airbender-container">
      <%= image_tag("avatar.jpg", class: "airbender") %>
    </div>
  </nav>

  <h1>Search Results for <%= params[:nation].humanize.titleize %>:</h1>

  <% @characters.each_with_index do |character, index|  %>
    <div id="character-<%= index +1 %>">
      <% if index <= 24 %>
        <p><%= "Character ##{index + 1}: #{character.name}" %></p>
          <% if character.image_path %>
            <div id="image">
              <p> <%= image_tag character.image_path  %>
            </div>
          <% end %>
        <p>Allies:
          <% if character.allies.empty? %>
            None
          <% else %>
            <%= character.allies.join(', ') %>
          <% end %>
        </p>
        <p>Enemies:
          <% if character.enemies.empty? %>
            None
          <% else %>
            <%= character.enemies.join(', ') %>
          <% end %>
        </p>
        <p>Affiliation: <%= character.affiliation  %></p>
      <% else %>
        <p><%= "Character ##{index + 1}: #{character.name}" %></p>
      <% end %>
    </div>
  <% end %>
